


body{
    font-family: 'Times New Roman', Times, serif;
    
    background-color: rgb(228, 74, 74);
}


.bio{
    max-width:90rem;
    margin: 2rem auto;
    padding: 20rem;
}

.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    
    color: black;
}